/.git
/.github
/grobid-master
/ignore
/.vscode
/docs
/test

**/.venv
/.env
**/__pycache__
**/.pytest_cache

/generated_files/*
!generated_files/.gitkeep

/pdfs/*
!pdfs/.gitkeep

/xmls/*
!xmls/.gitkeep

